:root {
  --bg-color: #f9f9f9;
  --text-color: #4a4a4a;
  --link-color: #1d7484;
  --link-visited: #144f5a;
  --link-hover: #982c61;
  --hr-color: #1d7484;
  --block-bg: #f1f1f1;
  --btn-bg: #1d7484;
  --btn-text: #f9f9f9;
  --input-border: #4a4a4a;
}

@media (prefers-color-scheme: dark) {
  :root {
    --bg-color: #222222;
    --text-color: #c9c9c9;
    --link-color: #ffffff;
    --link-visited: #e6e6e6;
    --link-hover: #c9c9c9;
    --hr-color: #ffffff;
    --block-bg: #4a4a4a;
    --btn-bg: #ffffff;
    --btn-text: #222222;
    --input-border: #c9c9c9;
  }
}

html {
  font-size: 62.5%;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif;
}

body {
  font-size: 1.8rem;
  line-height: 1.618;
  max-width: 38em;
  margin: auto;
  padding: 13px;
  color: var(--text-color);
  background-color: var(--bg-color);
}

@media (max-width: 684px) {
  body {
    font-size: 1.53rem;
  }
}

@media (max-width: 382px) {
  body {
    font-size: 1.35rem;
  }
}

h1, h2, h3, h4, h5, h6 {
  line-height: 1.1;
  font-family: inherit;
  font-weight: 700;
  margin-top: 3rem;
  margin-bottom: 1.5rem;
  overflow-wrap: break-word;
}

h1 {
  font-size: 2.35em;
}

h2 {
  font-size: 2em;
}

h3 {
  font-size: 1.75em;
}

h4 {
  font-size: 1.5em;
}

h5 {
  font-size: 1.25em;
}

h6 {
  font-size: 1em;
}

p {
  margin-bottom: 2.5rem;
}

small, sub, sup {
  font-size: 75%;
}

hr {
  border: 0;
  border-top: 1px solid var(--hr-color);
}

a {
  text-decoration: none;
  color: var(--link-color);
}

a:visited {
  color: var(--link-visited);
}

a:hover {
  color: var(--link-hover);
  border-bottom: 2px solid var(--text-color);
}

ul {
  padding-left: 1.4em;
  margin-bottom: 2.5rem;
}

li {
  margin-bottom: 0.4em;
}

blockquote {
  border-left: 5px solid var(--link-color);
  background-color: var(--block-bg);
  padding: 0.8em 1em;
  margin-bottom: 2.5rem;
}

pre, code, kbd, samp {
  background-color: var(--block-bg);
  font-size: 0.9em;
}

pre {
  padding: 1em;
  overflow-x: auto;
  margin-bottom: 2.5rem;
  display: block;
}

code, kbd, samp {
  padding: 0 0.5em;
  white-space: pre-wrap;
}

pre > code {
  padding: 0;
  background-color: transparent;
  white-space: pre;
  font-size: 1em;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 2rem;
}

td, th {
  padding: 0.5em;
  border-bottom: 1px solid var(--block-bg);
}

input, textarea, select {
  color: var(--text-color);
  background-color: var(--block-bg);
  border: 1px solid var(--block-bg);
  padding: 6px 10px;
  margin-bottom: 10px;
  border-radius: 4px;
  box-sizing: border-box;
}

input:focus, textarea:focus, select:focus {
  border: 1px solid var(--link-color);
  outline: 0;
}

.button, button, input[type=submit], input[type=reset], input[type=button] {
  background-color: var(--btn-bg);
  color: var(--btn-text);
  border: 1px solid var(--btn-bg);
  padding: 5px 10px;
  cursor: pointer;
}

.button:hover, button:hover {
  background-color: var(--link-hover);
  color: var(--btn-text);
}

label, legend, fieldset {
  display: block;
  margin-bottom: 0.5rem;
  font-weight: 600;
}
